button {
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

img {
  -webkit-tap-highlight-color: transparent;
}

.underline-effect {
  position: relative;
}
.underline-effect::after {
  background-color: #ffffff;
  transition: 0.2s width;
  position: absolute;
  bottom: -1px;
  content: "";
  height: 1px;
  width: 0;
  right: 0;
}
.underline-effect:hover::after {
  width: 100%;
  left: 0;
}

#loader {
  background-color: #000000;
  justify-content: center;
  transition: 1s opacity;
  flex-direction: column;
  align-items: center;
  position: fixed;
  display: flex;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#loader img {
  max-width: 200px;
  width: 200px;
}/*# sourceMappingURL=assets.css.map */