#entry-element {
    //background-image: url("./assets/Images/BACKGROUND.png");
    background-color: black;
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    height: 100dvh;
    width: 100%;

    h1 {
        text-transform: uppercase;
        white-space: pre-wrap;
        font-weight: bold;
        color: #ffffff;
        font-size: 5rem;
        margin: 0;
    }

    #entry-scroll-button {
        transform: translateX(-50%);
        text-transform: uppercase;
        position: absolute;
        bottom: 50px;
        left: 50%;
    }
}