footer {
    box-sizing: border-box;
    padding: 5px 10px;
    max-width: 1200px;
    margin: auto;
    width: 100%;

    .bold-text {
        font-weight: 800;
    }

    p {
        color: #4c4c4c;
    }
}