footer {
  box-sizing: border-box;
  padding: 5px 10px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
footer .bold-text {
  font-weight: 800;
}
footer p {
  color: #4c4c4c;
}/*# sourceMappingURL=footer.css.map */