#gallery {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 70px;
  max-width: 1200px;
  display: grid;
  width: 80%;
  gap: 5px;
}
#gallery img {
  transition: 0.2s filter;
  filter: grayscale(1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
#gallery img:hover {
  filter: grayscale(0);
}
#gallery img.vertical-image {
  grid-column: 4/5;
  grid-row: 1/3;
}

.modal-box {
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}
.modal-box img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-height: 80%;
  max-width: 80%;
}
.modal-box iframe {
  aspect-ratio: 16/9;
  max-width: 80%;
  width: 1920px;
  border: none;
}
.modal-box .close-button {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 10px;
  top: 10px;
}
.modal-box .close-button::before, .modal-box .close-button::after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  left: 50%;
  top: 50%;
}
.modal-box .close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal-box .close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 1100px) {
  #gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #gallery img.vertical-image {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}
@media screen and (max-width: 750px) {
  #gallery {
    grid-template-columns: 1fr 1fr;
  }
  #gallery img.vertical-image {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
@media screen and (max-width: 500px) {
  #gallery {
    grid-template-columns: 1fr;
    gap: 10px 0;
  }
  #gallery img.vertical-image {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}/*# sourceMappingURL=gallery.css.map */