#gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 70px;
    max-width: 1200px;
    display: grid;
    width: 80%;
    gap: 5px;

    img {
        transition: 0.2s filter;
        filter: grayscale(1);
        user-select: none;
        object-fit: cover;
        cursor: pointer;
        height: 100%;
        width: 100%;

        &:hover {
            filter: grayscale(0);
        }

        &.vertical-image {
            grid-column: 4/5; 
            grid-row: 1/3;
        }
    }
}

.modal-box {
    background-color: #00000099;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;

    img {
        user-select: none;
        max-height: 80%;
        max-width: 80%;
    }

    iframe {
        aspect-ratio: 16/9;
        max-width: 80%;
        width: 1920px;
        border: none;
    }

    .close-button {
        position: absolute;
        height: 25px;
        width: 25px;
        right: 10px;
        top: 10px;

        &::before, &::after {
            background-color: #ffffff;
            position: absolute;
            content: "";
            height: 100%;
            width: 2px;
            left: 50%;
            top: 50%;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

@media screen and (max-width: 1100px) {
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;

        img {
            &.vertical-image {
                grid-column: 3/4; 
                grid-row: 1/3;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    #gallery {
        grid-template-columns: 1fr 1fr;

        img {
            &.vertical-image {
                grid-column: 2/3; 
                grid-row: 1/3;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #gallery {
        grid-template-columns: 1fr;
        gap: 10px 0;

        img {
            &.vertical-image {
                grid-column: 1/2; 
                grid-row: 1/2;
            }
        }
    }
}