nav {
  transition: 0.2s opacity, 0.2s visibility;
  justify-content: space-between;
  background-color: #000000;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 15px;
  visibility: hidden;
  position: fixed;
  display: flex;
  height: 64px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  left: 0;
  top: 0;
}
nav.active {
  visibility: visible;
  opacity: 1;
}
nav #nav-left-part {
  box-sizing: border-box;
  padding: 5px 0;
  height: 100%;
}
nav #nav-left-part img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 100%;
}
nav #nav-right-part ul {
  list-style-type: none;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}
nav #nav-right-part ul li button {
  font-size: 0.95rem;
  color: #ffffff;
}
nav #nav-toggle {
  display: none;
  height: 20px;
  width: 30px;
}
nav #nav-toggle #nav-toggle-button {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
nav #nav-toggle #nav-toggle-button span {
  background-color: #ffffff;
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
}
nav #nav-toggle #nav-toggle-button span:nth-child(1) {
  top: 0;
}
nav #nav-toggle #nav-toggle-button span:nth-child(2) {
  top: 50%;
}
nav #nav-toggle #nav-toggle-button span:nth-child(3) {
  top: 100%;
}

@media screen and (max-width: 600px) {
  nav #nav-right-part {
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  nav #nav-right-part ul {
    flex-direction: column;
  }
  nav #nav-toggle {
    display: block;
  }
}/*# sourceMappingURL=navbar.css.map */