nav {
    transition: 0.2s opacity, 0.2s visibility;
    background-color: $navBackground;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 15px;
    visibility: hidden;
    position: fixed;
    display: flex;
    height: 64px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    left: 0;
    top: 0;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    #nav-left-part {
        box-sizing: border-box;
        padding: 5px 0;
        height: 100%;

        img {
            user-select: none;
            cursor: pointer;
            height: 100%;
        }
    }

    #nav-right-part {
        ul {
            list-style-type: none;
            align-items: center;
            display: flex;
            padding: 0;
            margin: 0;
            
            li {
                button {
                    font-size: 0.95rem;
                    color: #ffffff;
                }
            }
        }
    }

    #nav-toggle {
        display: none;
        height: 20px;
        width: 30px;

        #nav-toggle-button {
            position: relative;
            display: flex;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;

            span {
                transition: transform 0.2s, opacity 0.2s;
                background-color: #ffffff;
                position: absolute;
                display: block;
                width: 100%;
                height: 1px;
                left: 0;
                
                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 50%;
                }

                &:nth-child(3) {
                    top: 100%;
                }
            }

            &.active {
                span {
                    &:nth-child(1) {
                        transform: rotate(-45deg) translateY(-50%);
                        top: 50%;
                    }
                    
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    
                    &:nth-child(3) {
                        transform: rotate(45deg) translateY(-50%);
                        top: 50%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    nav {
        #nav-right-part {
            transition: backdrop-filter 0.2s;
            background-color: $navBackground;
            backdrop-filter: blur(0);
            justify-content: center;
            align-items: center;
            visibility: hidden;
            position: fixed;
            display: flex;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;

            &.active {
                backdrop-filter: blur(10px);
                visibility: visible;
            }

            ul {
                flex-direction: column;
                
                li {
                    margin: 5px 0;

                    button {
                        font-size: 1.3rem;
                    }
                }
            }
        }

        #nav-toggle {
            display: block;
        }
    }
}