section {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  display: flex;
  width: 100%;
}
section h3 {
  text-align: center;
  color: #ffffff;
  max-width: 80%;
}
section:not(section:first-of-type, section:nth-of-type(2)) {
  scroll-margin-top: 70px;
}
section#band-members #band-members-box {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}
section#band-members h1 {
  text-align: center;
  color: #ffffff;
}
section#band-members h4 {
  text-align: center;
  color: #808080;
}
section#band-members p {
  text-align: center;
}
section#band-members p a {
  margin: 0 8px;
}
section#band-members p a .bi {
  background-color: #808080;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
section#band-members p a:hover .bi-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
}
section#band-members p a:hover .bi-twitter {
  background-color: rgb(29, 155, 240);
}
section#band-members img {
  width: 400px;
}
section#entry-element {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.55);
}
section#about-band p {
  text-align: center;
  color: #808080;
  max-width: 80%;
  width: 800px;
}/*# sourceMappingURL=sections.css.map */