section {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    display: flex;
    width: 100%;

    h3 {
        text-align: center;
        color: #ffffff;
        max-width: 80%;
    }

    &:not(&:first-of-type, &:nth-of-type(2)) {
        scroll-margin-top: 70px;
    }

    //box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);

    &#band-members {
        #band-members-box {
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            gap: 10px;
        }

        h1 {
            text-align: center;
            color: #ffffff;
        }

        h4 {
            text-align: center;
            color: #808080;
        }

        p {
            text-align: center;

            a {
                margin: 0 8px;

                .bi {
                    background-color: #808080;
                    background-clip: text;
                    color: transparent;
                }

                &:hover {
                    .bi-instagram {
                        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                        background-clip: text;
                    }

                    .bi-twitter {
                        background-color: rgb(29, 155, 240);
                    }
                }
            }




        }

        img {
            width: 400px;
        }
    }

    &#entry-element {
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.55);
    }

    &#about-band {
    
        p {
            text-align: center;
            color: #808080;
            max-width: 80%;
            width: 800px;
        }
    }
}