.timeline {
  margin: 0 auto 20px auto;
  position: relative;
  max-width: 1200px;
  width: 80%;
}
.timeline::before {
  transform: translateX(-50%);
  background-color: gray;
  position: absolute;
  height: 100%;
  content: "";
  width: 2px;
  left: 50%;
}
.timeline .timeline-content {
  position: relative;
  -moz-column-gap: 30px;
       column-gap: 30px;
  display: flex;
  width: 100%;
}
.timeline .timeline-content::before {
  transform: translate(-50%, -50%);
  background-color: #0e0e0e;
  content: attr(data-date);
  font-size: 1.4rem;
  position: absolute;
  color: #ffffff;
  padding: 10px 0;
  left: 50%;
  top: 50%;
}
.timeline .timeline-content .timeline-content-section {
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  padding: 30px;
  margin: auto;
  flex: 1;
}
.timeline .timeline-content .timeline-content-section .play-album {
  position: relative;
  max-width: 100%;
  cursor: pointer;
  margin: auto;
  width: 300px;
}
.timeline .timeline-content .timeline-content-section .play-album img {
  transition: 0.2s filter;
  filter: brightness(1);
  aspect-ratio: 1/1;
  max-width: 100%;
  width: 300px;
}
.timeline .timeline-content .timeline-content-section .play-album::after {
  transform: translate(-50%, -50%);
  font-family: "bootstrap-icons";
  transition: opacity 0.2s;
  position: absolute;
  color: #ffffff;
  content: "\f4f3";
  font-size: 3rem;
  opacity: 0;
  left: 50%;
  top: 50%;
}
.timeline .timeline-content .timeline-content-section .play-album:hover img {
  filter: brightness(0.6);
}
.timeline .timeline-content .timeline-content-section .play-album:hover::after {
  opacity: 1;
}
.timeline .timeline-content .timeline-content-section h1 {
  color: #ffffff;
}
.timeline .timeline-content .timeline-content-section p {
  text-align: center;
  color: #808080;
}
.timeline .timeline-content:nth-child(odd) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
  .timeline .timeline-content:nth-child(odd) {
    flex-direction: row;
  }
}
@media screen and (max-width: 650px) {
  .timeline::before {
    left: 0%;
  }
  .timeline .timeline-content::before {
    top: 150px;
    left: 0;
  }
  .timeline .timeline-content::after {
    background-color: rgb(87, 85, 85);
    transform: translateX(-50%);
    position: absolute;
    content: "";
    height: 1px;
    width: 80%;
    bottom: 0;
    left: 50%;
  }
  .timeline .timeline-content:nth-child(odd), .timeline .timeline-content {
    flex-direction: column;
  }
  .timeline .timeline-content .timeline-content-section {
    padding: 40px;
  }
}/*# sourceMappingURL=timeline.css.map */