body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#background {
    background-image: url(pozadi.jpg);
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    display: flex;
}

#chess-board-box {
    border: 1px solid #000000;
    background-color: #ffffff;
    justify-content: flex-start;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: flex;
    height: 700px;
    width: 700px;
}

#chess-board-box h1 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0;
    color: #ff0000;
}

#chess-board-box h2 {
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
}

#chess-board-box table {
    border-collapse: collapse;
    border-spacing: 0;
}

#chess-board-box table thead tr td {
    text-align: center;
}

#chess-board-box table tbody tr td:first-child {
    width: 1rem;
}

#chess-board-box table tbody tr td:not(:first-child) {
    box-sizing: border-box;
    height: 60px;
    width: 60px;
}

#chess-board-box table tbody tr:nth-child(odd) td:not(:first-child):nth-child(odd) {
    background-color: #000000;
}

#chess-board-box table tbody tr:nth-child(even) td:not(:first-child):nth-child(even) {
    background-color: #000000;
}

#chess-board-box .piece {
    mix-blend-mode: darken;
    position: absolute;
    height: 60px;
    width: 60px;
}

#chess-board-box .piece-1 {
    left: 25.5%;
    top: 59%;
}

#chess-board-box .piece-2 {
    left: 68.5%;
    top: 15.5%;
}