@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$backgroundColor: #0e0e0e;
$navBackground: #000000a4;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $backgroundColor;
    -ms-overflow-style: none;
    box-sizing: border-box;
    scrollbar-width: none;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

#fibonacci-scrollbar {
    transition: 0.2s opacity, 0.2s left;
    transform: translateY(-50%);
    position: fixed;
    display: flex;
    left: -55px;
    opacity: 0;
    top: 50%;

    &.active {
        opacity: 1;
        left: 5px;
    }

    p {
        writing-mode: vertical-rl;
        text-orientation: upright;
        user-select: none;
        color: #ffffff;
    }

    .progress {
        position: absolute;
        height: 100%;
        width: 2px;
        right: 0;
        top: 0;

        .progress-bar {
            background-color: #ffffff;
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    #fibonacci-scrollbar {
        p {
            opacity: 0;
            margin: 0;
            width: 0;
        }

        .progress {
            background-color: #000000;
        }
    }
}

@import "./styles/assets";
@import "./styles/entry";
@import "./styles/navbar";
@import "./styles/sections";
@import "./styles/timeline";
@import "./styles/gallery";
@import "./styles/footer";