@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #0e0e0e;
  -ms-overflow-style: none;
  box-sizing: border-box;
  scrollbar-width: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

#fibonacci-scrollbar {
  transition: 0.2s opacity, 0.2s left;
  transform: translateY(-50%);
  position: fixed;
  display: flex;
  left: -55px;
  opacity: 0;
  top: 50%;
}
#fibonacci-scrollbar.active {
  opacity: 1;
  left: 5px;
}
#fibonacci-scrollbar p {
  writing-mode: vertical-rl;
  text-orientation: upright;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ffffff;
}
#fibonacci-scrollbar .progress {
  position: absolute;
  height: 100%;
  width: 2px;
  right: 0;
  top: 0;
}
#fibonacci-scrollbar .progress .progress-bar {
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

@media screen and (max-width: 600px) {
  #fibonacci-scrollbar p {
    opacity: 0;
    margin: 0;
    width: 0;
  }
  #fibonacci-scrollbar .progress {
    background-color: #000000;
  }
}
button {
  -webkit-tap-highlight-color: transparent;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

img {
  -webkit-tap-highlight-color: transparent;
}

.underline-effect {
  position: relative;
}
.underline-effect::after {
  background-color: #ffffff;
  transition: 0.2s width;
  position: absolute;
  bottom: -1px;
  content: "";
  height: 1px;
  width: 0;
  right: 0;
}
.underline-effect:hover::after {
  width: 100%;
  left: 0;
}

#loader {
  background-color: #000000;
  justify-content: center;
  transition: 1s opacity;
  flex-direction: column;
  align-items: center;
  position: fixed;
  display: flex;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
#loader img {
  max-width: 200px;
  width: 200px;
}

#entry-element {
  background-color: black;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
  height: 100dvh;
  width: 100%;
}
#entry-element h1 {
  text-transform: uppercase;
  white-space: pre-wrap;
  font-weight: bold;
  color: #ffffff;
  font-size: 5rem;
  margin: 0;
}
#entry-element #entry-scroll-button {
  transform: translateX(-50%);
  text-transform: uppercase;
  position: absolute;
  bottom: 50px;
  left: 50%;
}

nav {
  transition: 0.2s opacity, 0.2s visibility;
  background-color: rgba(0, 0, 0, 0.6431372549);
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 15px;
  visibility: hidden;
  position: fixed;
  display: flex;
  height: 64px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  left: 0;
  top: 0;
}
nav.active {
  visibility: visible;
  opacity: 1;
}
nav #nav-left-part {
  box-sizing: border-box;
  padding: 5px 0;
  height: 100%;
}
nav #nav-left-part img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  height: 100%;
}
nav #nav-right-part ul {
  list-style-type: none;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}
nav #nav-right-part ul li button {
  font-size: 0.95rem;
  color: #ffffff;
}
nav #nav-toggle {
  display: none;
  height: 20px;
  width: 30px;
}
nav #nav-toggle #nav-toggle-button {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
nav #nav-toggle #nav-toggle-button span {
  transition: transform 0.2s, opacity 0.2s;
  background-color: #ffffff;
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
}
nav #nav-toggle #nav-toggle-button span:nth-child(1) {
  top: 0;
}
nav #nav-toggle #nav-toggle-button span:nth-child(2) {
  top: 50%;
}
nav #nav-toggle #nav-toggle-button span:nth-child(3) {
  top: 100%;
}
nav #nav-toggle #nav-toggle-button.active span:nth-child(1) {
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
}
nav #nav-toggle #nav-toggle-button.active span:nth-child(2) {
  opacity: 0;
}
nav #nav-toggle #nav-toggle-button.active span:nth-child(3) {
  transform: rotate(45deg) translateY(-50%);
  top: 50%;
}

@media screen and (max-width: 600px) {
  nav #nav-right-part {
    transition: -webkit-backdrop-filter 0.2s;
    transition: backdrop-filter 0.2s;
    transition: backdrop-filter 0.2s, -webkit-backdrop-filter 0.2s;
    background-color: rgba(0, 0, 0, 0.6431372549);
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  nav #nav-right-part.active {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    visibility: visible;
  }
  nav #nav-right-part ul {
    flex-direction: column;
  }
  nav #nav-right-part ul li {
    margin: 5px 0;
  }
  nav #nav-right-part ul li button {
    font-size: 1.3rem;
  }
  nav #nav-toggle {
    display: block;
  }
}
section {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  display: flex;
  width: 100%;
}
section h3 {
  text-align: center;
  color: #ffffff;
  max-width: 80%;
}
section:not(section:first-of-type, section:nth-of-type(2)) {
  scroll-margin-top: 70px;
}
section#band-members #band-members-box {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}
section#band-members h1 {
  text-align: center;
  color: #ffffff;
}
section#band-members h4 {
  text-align: center;
  color: #808080;
}
section#band-members p {
  text-align: center;
}
section#band-members p a {
  margin: 0 8px;
}
section#band-members p a .bi {
  background-color: #808080;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
section#band-members p a:hover .bi-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
}
section#band-members p a:hover .bi-twitter {
  background-color: rgb(29, 155, 240);
}
section#band-members img {
  width: 400px;
}
section#entry-element {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.55);
}
section#about-band p {
  text-align: center;
  color: #808080;
  max-width: 80%;
  width: 800px;
}

.timeline {
  margin: 0 auto 20px auto;
  position: relative;
  max-width: 1200px;
  width: 80%;
}
.timeline::before {
  transform: translateX(-50%);
  background-color: gray;
  position: absolute;
  height: 100%;
  content: "";
  width: 2px;
  left: 50%;
}
.timeline .timeline-content {
  position: relative;
  -moz-column-gap: 30px;
       column-gap: 30px;
  display: flex;
  width: 100%;
}
.timeline .timeline-content::before {
  transform: translate(-50%, -50%);
  background-color: #0e0e0e;
  content: attr(data-date);
  font-size: 1.4rem;
  position: absolute;
  color: #ffffff;
  padding: 10px 0;
  left: 50%;
  top: 50%;
}
.timeline .timeline-content .timeline-content-section {
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  display: flex;
  padding: 30px;
  margin: auto;
  flex: 1;
}
.timeline .timeline-content .timeline-content-section .play-album {
  position: relative;
  max-width: 100%;
  cursor: pointer;
  margin: auto;
  width: 300px;
}
.timeline .timeline-content .timeline-content-section .play-album img {
  transition: 0.2s filter;
  filter: brightness(1);
  aspect-ratio: 1/1;
  max-width: 100%;
  width: 300px;
}
.timeline .timeline-content .timeline-content-section .play-album::after {
  transform: translate(-50%, -50%);
  font-family: "bootstrap-icons";
  transition: opacity 0.2s;
  position: absolute;
  color: #ffffff;
  content: "\f4f3";
  font-size: 3rem;
  opacity: 0;
  left: 50%;
  top: 50%;
}
.timeline .timeline-content .timeline-content-section .play-album:hover img {
  filter: brightness(0.6);
}
.timeline .timeline-content .timeline-content-section .play-album:hover::after {
  opacity: 1;
}
.timeline .timeline-content .timeline-content-section h1 {
  color: #ffffff;
}
.timeline .timeline-content .timeline-content-section p {
  text-align: center;
  color: #808080;
}
.timeline .timeline-content:nth-child(odd) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
  .timeline .timeline-content:nth-child(odd) {
    flex-direction: row;
  }
}
@media screen and (max-width: 650px) {
  .timeline::before {
    left: 0%;
  }
  .timeline .timeline-content::before {
    top: 150px;
    left: 0;
  }
  .timeline .timeline-content::after {
    background-color: rgb(87, 85, 85);
    transform: translateX(-50%);
    position: absolute;
    content: "";
    height: 1px;
    width: 80%;
    bottom: 0;
    left: 50%;
  }
  .timeline .timeline-content:nth-child(odd), .timeline .timeline-content {
    flex-direction: column;
  }
  .timeline .timeline-content .timeline-content-section {
    padding: 40px;
  }
}
#gallery {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 70px;
  max-width: 1200px;
  display: grid;
  width: 80%;
  gap: 5px;
}
#gallery img {
  transition: 0.2s filter;
  filter: grayscale(1);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
#gallery img:hover {
  filter: grayscale(0);
}
#gallery img.vertical-image {
  grid-column: 4/5;
  grid-row: 1/3;
}

.modal-box {
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}
.modal-box img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  max-height: 80%;
  max-width: 80%;
}
.modal-box iframe {
  aspect-ratio: 16/9;
  max-width: 80%;
  width: 1920px;
  border: none;
}
.modal-box .close-button {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 10px;
  top: 10px;
}
.modal-box .close-button::before, .modal-box .close-button::after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  left: 50%;
  top: 50%;
}
.modal-box .close-button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.modal-box .close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 1100px) {
  #gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #gallery img.vertical-image {
    grid-column: 3/4;
    grid-row: 1/3;
  }
}
@media screen and (max-width: 750px) {
  #gallery {
    grid-template-columns: 1fr 1fr;
  }
  #gallery img.vertical-image {
    grid-column: 2/3;
    grid-row: 1/3;
  }
}
@media screen and (max-width: 500px) {
  #gallery {
    grid-template-columns: 1fr;
    gap: 10px 0;
  }
  #gallery img.vertical-image {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
footer {
  box-sizing: border-box;
  padding: 5px 10px;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
footer .bold-text {
  font-weight: 800;
}
footer p {
  color: #4c4c4c;
}/*# sourceMappingURL=style.css.map */