body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#head {
    background-color: #fb8300;
    text-align: center;
    padding: 40px 0px;
    color: white;
    width: 100%;
}

nav {
    ul {
        transition: max-height 0.6s;
        background-color: #ffb803;
        text-align: center;
        overflow: hidden;
        color: white;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            padding: 20px;

            &:hover {
                background-color: #fb8300;
            }

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

.responsive-menu {
    background-color: #e45900;
    box-sizing: border-box;
    padding: 15px 10px;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    display: none;
    width: 100%;
}

#main {
    box-sizing: border-box;
    line-height: 25px;
    font-size: 14px;
    margin: 0 auto;
    padding: 40px;
    width: 75%;
    
    #imges-grid {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1600px;
        flex-wrap: wrap;
        grid-gap: 10px;
        display: grid;
        margin: auto;

        img {
            transition: transform 0.2s;
            object-position: center;
            object-fit: cover;
            height: 100%;
            width: 100%;

            &:hover {
                transform: scale(1.02);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #main {
        #imges-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 700px) {
    #main {
        #imges-grid {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 600px) {
    #main {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {
    nav {
        ul {
            max-height: 0px;

            &.show {
                max-height: 20em;
            }

            li {
                box-sizing: border-box;
                text-align: left;
                padding: 15px;
                width: 100%;
            }
        }
    }

    h1 {
        font-size: 25px;
    }

    .responsive-menu {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        text-align: center;
        font-size: 1.2rem;
    }
}