body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#background-line {
    background-image: url("./Images/background_line.jpg");
    font-family: Verdana, sans-serif;
    background-color: #3b4753;
    background-repeat: repeat-x;
    justify-content: center;
    height: 100dvh;
    display: flex;
    width: 100dvw;
}

header {
    background-image: url("./Images/head.jpg");
    height: 142px;
    width: 986px;
}

nav {
    background-image: url("./Images/menu.jpg");
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-left: 30px;
}

nav p {
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

nav ul {
    list-style-type: none;
    line-height: 20px;
    font-size: 13px;
    margin: 5px 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    transition: 0.2 color;
    color: #a7d11f;
}

nav ul li a:hover {
    color: #ffffff;
}

.content-row {
    justify-content: flex-start;
    display: flex;
    height: 528px;
}

.content-row .content-column:first-child {
    width: 240px;
}

.content-row .content-column:last-child {
    width: 746px;
}

#main-header {
    background-image: url("./Images/main_head.jpg");
    background-repeat: no-repeat;
    height: 131px;
}

article {
    background-image: url("./Images/main_line.jpg");
    background-repeat: repeat-y;
    box-sizing: border-box;
    padding: 0 30px 0 15px;
    height: 396px;
}

article h1 {
    display: inline-block;
    color: #a7d11f;
    width: 100%;
}

article img {
    margin-top: 20px;
    width: 300px;
    float: right;
}

footer {
    background-image: url("./Images/foot.jpg");
    background-repeat: no-repeat;
    height: 35px;
}

footer p {
    text-align: center;
    color: #ffffff;
    margin: auto;
}