@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    border-bottom: 2px solid #efefef;
    background-color: #ffffff;
    padding: 10px 15px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0;
}

nav .logo a {
    text-decoration: none;
    color: #000000;
}

nav #navbar-content {
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    display: flex;
    margin: auto;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    padding: 5px 12px;
    color: #000000;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a::after {
    transition: width 0.3s;
    background-color: #000000;
    position: absolute;
    bottom: -2px;
    content: "";
    height: 2px;
    width: 0;
    left: 0;
}

.web-section {
    box-sizing: border-box;
    align-items: center;
    height: 100dvh;
    display: flex;
    padding: 20px;
}

.web-section:nth-of-type(even) {
    justify-content: center;

}

.web-section:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.web-section:nth-of-type(odd) .web-section-column:nth-child(1) {
    align-items: flex-end;
}

.web-section:nth-of-type(odd) .web-section-column:nth-child(2) {
    align-items: center;
}

.web-section .web-section-column {
    flex-direction: column;
    display: flex;
    flex: 1;
}

.web-section h1 {
    margin: 50px 20px;
    font-size: 2rem;
}

.web-section p {
    text-align: justify;
    color: #888888;
    font-size: 1rem;
    max-width: 50%;
}

.gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    display: grid;
}

.gallery img {
    transition: 0.2s transform;
    object-fit: cover;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.gallery img:hover {
    transform: scale(1.04);
}

video {
    border-radius: 5px;
    width: 100%;
}

form {
    max-width: 600px;
    width: 50%;
}

form input, form textarea {
    border: none;
    border-bottom: 2px solid #000000;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    box-sizing: border-box;
    padding: 12px 16px;
    font-size: 1rem;
    margin: 20px 0;
    display: block;
    outline: none;
    width: 100%;
}

form textarea {
    border-left: 2px solid #000000;
    min-height: 200px;
    resize: vertical;
}

form button[type="submit"] {
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 15px;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

footer p {
    text-align: center;
    color: #888888;
}

#uvod .web-section-column {
    justify-content: center;
    align-items: center;
}

#uvod p {
    text-align: center;
}

#kontakt .web-section-column {
    align-items: center;
}